<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>top page</title>
  </head>
  <body class="container">
    <h1 class="display-4 mb-4">Hello Page</h1>
    <p th:text="${msg}"></p>
    <div th:switch="${month}">
      <p
        class="alert alert-primary"
        th:case="1"
        th:text="${month} + 月は、正月です。"
      ></p>
      <p
        class="alert alert-primary"
        th:case="2"
        th:text="${month} + 月は、冬です。"
      ></p>
      <p
        class="alert alert-primary"
        th:case="3"
        th:text="${month} + 月は、春です。"
      ></p>
      <p
        class="alert alert-primary"
        th:case="4"
        th:text="${month} + 月は、春です。"
      ></p>
      <p
        class="alert alert-primary"
        th:case="5"
        th:text="${month} + 月は、春です。"
      ></p>
      <p
        class="alert alert-primary"
        th:case="6"
        th:text="${month} + 月は、夏です。"
      ></p>
      <p
        class="alert alert-primary"
        th:case="7"
        th:text="${month} + 月は、夏です。"
      ></p>
      <p
        class="alert alert-primary"
        th:case="8"
        th:text="${month} + 月は、夏休みです。"
      ></p>
      <p
        class="alert alert-primary"
        th:case="9"
        th:text="${month} + 月は、秋です。"
      ></p>
      <p
        class="alert alert-primary"
        th:case="10"
        th:text="${month} + 月は、秋です。"
      ></p>
      <p
        class="alert alert-primary"
        th:case="11"
        th:text="${month} + 月は、秋です。"
      ></p>
      <p
        class="alert alert-primary"
        th:case="12"
        th:text="${month} + 月は、師走です。"
      ></p>
      <p class="alert alert-primary" th:case="*" th:text="わかりません。"></p>
    </div>
  </body>
</html>
